<div class="container">
  <h3>Thank you <%= @user.username %> !</h3>
  <h3>Your purchases are waiting for you !</h3>
  <div class="order-infos">
    <p>Order confirmation n°<%= @order.id %></p>
    <p>Total price: <%= @order.amount.fractional / 100 %> <%= @order.amount.symbol %></p>
    <% @user.orders.last.purchases.each do |purchase| %>
      <div class="purchase">
        <h5><%= purchase.product.name %></h5>
        <div class="purchase-summary">
          <div class="purchase-img-container">
            <%= image_tag "map-icon.png", class: "purchase-img" %>
          </div>
          <div class="purchase-location-text">
            <p>Pick-up location:</p>
            <p><%= purchase.product.business.name %>, <%= purchase.product.business.address %></p>
          </div>
        </div>
        <div class="purchase-summary">
          <div class="purchase-img-container">
            <%= image_tag "success-icon.png", class: "purchase-img" %>
          </div>
          <div class="purchase-summary-text">
            <p>Total amount <%= purchase.product.price.fractional/100 %> <%= purchase.product.price.currency.symbol %></p>
          </div>
        </div>
      </div>
    <% end %>
    <div class="confirmation">
      <div class="purchase-summary">
        <div class="confirmation-img-container">
          <%= image_tag "received-icon.png", class: "confirmation-img" %>
        </div>
        <div class="purchase-location-text">
          <p>You will receive a confirmation email soon with your purchase details</p>
        </div>
      </div>
    </div>
  </div>
</div>
