<!-- Banner section -->
  <div class="home-banner" style="background-image: url('<%= asset_path 'background2.jpg' %>');">
    <div class="home-banner-container">
      <div class="home-text">
        <h1>Zero.Hunger</h1>
      </div>
      <div class="home-text">
        <h5>Let's build a better world by fighting food waste!</h5>
      </div>
      <div class="home-text">
        <div class="searchbar-home">
          <%= form_with url: products_path, method: :get, class: "d-flex" do %>
            <%= text_field_tag :query,
            params[:query],
            class: "form-control",
            placeholder: "Where are you?"
            %>
          <%= image_submit_tag("icons8-search-25.png", class: "btn", id: "input-searchbar")  %>
          <% end %>
        </div>
      </div>
    </div>
  </div>

<!-- "Who can join" section -->
<div class="container">
  <h2 class="text-center">How it works</h2>
  <div class="home-cards">

    <div class="home-card">
      <img src="<%= asset_path 'customer.png' %>" alt="">
      <h5>Customers</h5>
      <p>Looking for good food at a good prices </p>
    </div>

    <div class="home-card">
      <img src="<%= asset_path 'charity3.png' %>" alt="">
      <h5>Charities</h5>
      <p>Looking for meals to give away for free</p>
    </div>

    <div class="home-card">
      <img src="<%= asset_path 'grocery.png' %>" alt="">
      <h5>Groceries</h5>
      <p>Looking for fair profits from their stocks </p>
    </div>

  </div>
</div>

<div class="container">
  <div class="about-section">
    <h3>Our mission</h3>
    <p>We make sure good food gets eaten, not wasted. Every day, delicious, fresh food goes to waste at cafés, restaurants, hotels, shops and manufacturers - just because it hasn’t sold in time. The Zero.Hunger app lets customers buy and collect Surprise Bags of food - at a great price - directly from businesses.</p>
    <br>
    <h3>Want to join us?</h3>
    <p>Zero.Hunger can help you cut food waste, find new customers and win back sunk costs. <strong>Be part of the solution</strong>!</p>
    <a href="#">Sign up your business</a>
  </div>
</div>
