<div class="cart-container">

  <div class="Header">
    <%= link_to products_path, class: "previous" do %>
      <p><</p>
    <% end %>
    <h3>Shopping Cart</h3>
    <p class="link">Remove all</p>
    <%# <%= button_to "Remove", {controller: "purchases", method: :destroy, product_id: params[:id]}, remote: true, id: "delete-button", class: "btn btn-gradient show-button" %>
  </div>

  <% if @order.products.size == 0 %>
  <p class="text-center">
    There are no items in your shopping cart.  Please <%= link_to "go back", products_path %> and add some items to your cart.
  </p>
  <% else %>



  <%# retailer 1 %>
  <div class="card-business">
      <% if @order.products.map {|product| product.business.name}.include?("Sainsbury's")%>
        <h5>Sainsbury's</h5>
      <% end %>
        <div class="card-item">
          <% @order.products.each do |product| %>
            <% if product.business.name == "Sainsbury's" %>

            <div class="card-product">
              <div class="card-items-left">
                <div class="card-item_image">
                    <%= cl_image_tag product.photo.key, height: 60, width: 70, crop: :fill, class: "product-image" %>
                </div>

                <div class="card-product-infos">
                  <div class="card-item-information">
                  <p class="dark bold"><%= product.name %></p>
                  <p>Quantity</p>
                  <%= link_to products_path(product.id), class: "navbar-brand" do %>
                    <p class="link">Details</p>
                  <% end %>
                  </div>
                </div>
              </div>
                <div class="card-item-actions">
                  <p class="dark bold"><%= product.price %></p>
                  <%= link_to "Remove", purchase_path(Purchase.where(order: @order).select { |purchase| purchase.product == product }.first), data: {turbo_method: :delete} %>
                </div>
              </div>
            <% end %>
           <% end %>
        </div>
  </div>


  <%# retailer 2 %>
  <div class="card-business">
      <% if @order.products.map {|product| product.business.name}.include?("Waitrose & Partners Bloomsbury")%>
        <h5>Waitrose & Partners Bloomsbury</h5>
      <% end %>
        <div class="card-item">
          <% @order.products.each do |product| %>
            <% if product.business.name == "Waitrose & Partners Bloomsbury" %>

            <div class="card-product">
              <div class="card-items-left">
                <div class="card-item_image">
                    <%= cl_image_tag product.photo.key, height: 60, width: 70, crop: :fill, class: "product-image" %>
                </div>

                <div class="card-product-infos">
                  <div class="card-item-information">
                  <p class="dark bold"><%= product.name %></p>
                  <p>Quantity</p>
                  <%= link_to products_path(product.id), class: "navbar-brand" do %>
                    <p class="link">Details</p>
                  <% end %>
                  </div>
                </div>
              </div>
                <div class="card-item-actions">
                  <p class="dark bold"><%= product.price %></p>
                  <%= link_to "Remove", purchase_path(Purchase.where(order: @order).select { |purchase| purchase.product == product }.first), data: {turbo_method: :delete} %>
                </div>
              </div>
            <% end %>
           <% end %>
        </div>
  </div>

  <%# retailer 3 %>
  <div class="card-business">
      <% if @order.products.map {|product| product.business.name}.include?("Tesco Express")%>
        <h5>Tesco Express</h5>
      <% end %>
        <div class="card-item">
          <% @order.products.each do |product| %>
            <% if product.business.name == "Tesco Express" %>

            <div class="card-product">
              <div class="card-items-left">
                <div class="card-item_image">
                    <%= cl_image_tag product.photo.key, height: 60, width: 70, crop: :fill, class: "product-image" %>
                </div>

                <div class="card-product-infos">
                  <div class="card-item-information">
                  <p class="dark bold"><%= product.name %></p>
                  <p>Quantity</p>
                  <%= link_to products_path(product.id), class: "navbar-brand" do %>
                    <p class="link">Details</p>
                  <% end %>
                  </div>
                </div>
              </div>
                <div class="card-item-actions">
                  <p class="dark bold"><%= product.price %></p>
                  <%= link_to "Remove", purchase_path(Purchase.where(order: @order).select { |purchase| purchase.product == product }.first), data: {turbo_method: :delete} %>
                </div>
              </div>
            <% end %>
           <% end %>
        </div>
  </div>

  <%# retailer 4 %>
  <div class="card-business">
      <% if @order.products.map {|product| product.business.name}.include?("Rupert Supermarket")%>
        <h5>Rupert Supermarket</h5>
      <% end %>
        <div class="card-item">
          <% @order.products.each do |product| %>
            <% if product.business.name == "Rupert Supermarket" %>

            <div class="card-product">
              <div class="card-items-left">
                <div class="card-item_image">
                    <%= cl_image_tag product.photo.key, height: 60, width: 70, crop: :fill, class: "product-image" %>
                </div>

                <div class="card-product-infos">
                  <div class="card-item-information">
                  <p class="dark bold"><%= product.name %></p>
                  <p>Quantity</p>
                  <%= link_to products_path(product.id), class: "navbar-brand" do %>
                    <p class="link">Details</p>
                  <% end %>
                  </div>
                </div>
              </div>
                <div class="card-item-actions">
                  <p class="dark bold"><%= product.price %></p>
                  <%= link_to "Remove", purchase_path(Purchase.where(order: @order).select { |purchase| purchase.product == product }.first), data: {turbo_method: :delete} %>
                </div>
              </div>
            <% end %>
           <% end %>
        </div>
  </div>

  <%# retailer 5 %>
  <div class="card-business">
      <% if @order.products.map {|product| product.business.name}.include?("Superway Supermarket")%>
        <h5>Superway Supermarket</h5>
      <% end %>
        <div class="card-item">
          <% @order.products.each do |product| %>
            <% if product.business.name == "Superway Supermarket" %>

            <div class="card-product">
              <div class="card-items-left">
                <div class="card-item_image">
                    <%= cl_image_tag product.photo.key, height: 60, width: 70, crop: :fill, class: "product-image" %>
                </div>

                <div class="card-product-infos">
                  <div class="card-item-information">
                  <p class="dark bold"><%= product.name %></p>
                  <p>Quantity</p>
                  <%= link_to products_path(product.id), class: "navbar-brand" do %>
                    <p class="link">Details</p>
                  <% end %>
                  </div>
                </div>
              </div>
                <div class="card-item-actions">
                  <p class="dark bold"><%= product.price %></p>
                  <%= link_to "Remove", purchase_path(Purchase.where(order: @order).select { |purchase| purchase.product == product }.first), data: {turbo_method: :delete} %>
                </div>
              </div>
            <% end %>
           <% end %>
        </div>
  </div>

      <strong><%= humanized_money_with_symbol @order.amount %></strong></p>
      <button id="pay" class="btn btn-primary">Pay</button>

      <script src="https://js.stripe.com/v3/"></script>
      <script>
        const paymentButton = document.getElementById('pay');
        paymentButton.addEventListener('click', () => {
          const stripe = Stripe('<%= ENV['STRIPE_PUBLISHABLE_KEY'] %>');
          stripe.redirectToCheckout({
            sessionId: '<%= @order.checkout_session_id %>'
          });
        });
    </script>
  <% end %>
</div>
