<div class="product-card">
  <%# <img class="card-image" src="https://images.unsplash.com/photo-1587132137056-bfbf0166836e?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2080&q=80" alt="Banana" width="100%"> %>
  <div class="card-image-wrapper">
    <%= cl_image_tag(product.photo.key, class: "card-image", width: 198, height: 144, crop: :fill) %>
  </div>
  <div class="card-infos">
    <h5><%= product.name %></h5>
    <p class="bold"><%= product.business.name %></p>
    <p><%= product.business.address %></p>
    <div class="card-bottom">
      <h5><%= product.price %>0€</h5>
      <i class="fa-solid fa-cart-shopping"></i>
    </div>
  </div>
</div>
