<div class="container">

<%# This is the searchbar %>
  <div class="searchbar-container">
    <%= form_with url: products_path, method: :get, class: "d-flex" do %>
      <%= text_field_tag :query,
        params[:query],
        class: "form-control",
        placeholder: "Change location"
      %>
      <%= submit_tag "Search", class: "btn-green" %>
    <% end %>
  </div>


<%# This is the filter by product type icons %>
  <div data-controller="filter">
    <div class= "type-icons">

      <div data-action="click->filter#fruit">
        <div class="iconborder">
          <%= image_tag "3194766.png", class: "type-icon", data: {filter_target: "fruitFilter"} %>
        </div>
        <p>Fruits</p>
      </div>

      <div data-action="click->filter#vegetable">
        <div class="iconborder">
          <%= image_tag "2153788.png", class: "type-icon", data: {filter_target: "vegetableFilter"} %>
        </div>
        <p>Vegetables</p>
      </div>


      <div data-action="click->filter#carbohydrate">
        <div class="iconborder">
          <%= image_tag "6764230.png", class: "type-icon", data: {filter_target: "carbohydrateFilter"} %>
        </div>
        <p>Carbs</p>
      </div>


      <div data-action="click->filter#dairy">
        <div class="iconborder">
          <%= image_tag "3050158.png", class: "type-icon", data: {filter_target: "dairyFilter"} %>
        </div>
        <p>Dairy</p>
      </div>


      <div data-action="click->filter#meat">
        <div class="iconborder">
          <%= image_tag "2738733.png", class: "type-icon", data: {filter_target: "meatFilter"} %>
        </div>
        <p>Meat & Fish</p>
      </div>


      <div data-action="click->filter#drink">
        <div class="iconborder">
          <%= image_tag "3050153.png", class: "type-icon", data: {filter_target: "drinkFilter"} %>
        </div>
        <p>Drinks</p>
      </div>

    </div>

    <%# This is the list of products to display %>
    <div class="product-list">
      <% @products.each do |product| %>
        <%= link_to product_path(product) do %>
          <%= render "card", product: product %>
        <% end %>
      <% end %>
    </div>
  </div>
</div>
