<div class="container">

<%# This is the searchbar %>
  <div class="searchbar-container">
    <%= form_with url: products_path, method: :get, class: "d-flex" do %>
      <%= text_field_tag :query,
        params[:query],
        class: "form-control",
        placeholder: "What are you looking for ?"
      %>
      <%= submit_tag "Search", class: "btn btn-primary" %>
    <% end %>
  </div>


<%# This is the filter by product type icons %>
  <div class= "type-icons">
    <%= link_to(controller: 'products', action: 'index', query: 'fruit') do %>
      <%= image_tag "3194766.png", class: "type-icon" %>
      <p>Fruits</p>
    <% end %>
    <%= link_to(controller: 'products', action: 'index', query: 'vegetable') do %>
      <%= image_tag "2153788.png", class: "type-icon" %>
      <p>Vegetables</p>
    <% end %>
    <%= link_to(controller: 'products', action: 'index', query: 'carbohydrate') do %>
      <%= image_tag "6764230.png", class: "type-icon" %>
      <p>Carbs</p>
    <% end %>
    <%= link_to(controller: 'products', action: 'index', query: 'dairy') do %>
      <%= image_tag "3050158.png", class: "type-icon" %>
      <p>Dairy</p>
    <% end %>
    <%= link_to(controller: 'products', action: 'index', query: 'meat') do %>
      <%= image_tag "2738733.png", class: "type-icon" %>
      <p>Meat & Fish</p>
    <% end %>
    <%= link_to(controller: 'products', action: 'index', query: 'drink') do %>
      <%= image_tag "3050153.png", class: "type-icon" %>
      <p>Drinks</p>
    <% end %>
  </div>

<%# This is the list of products to display %>
  <div class="product-list">
    <% @products.each do |product| %>
      <%= link_to product_path(product) do %>
        <%= render "card", product: product %>
        <p>Amount: <%= humanized_money_with_symbol(product.price) %></p>
      <% end %>
    <% end %>
  </div>
</div>
