<div class="container contform img-back-product-new">
  <div class="row justify-content-center" >
      <div class="form" style=" width: 50vw; margin: 0 auto;">
        <h1 class="transparent">Offer</h1>
        <%= simple_form_for [@product] do |f| %>
        <div style="display: grid; grid-template-columns: 1fr 1fr; grid-gap: 16px;">
        <div>
          <%= f.input :name %>
          <%= f.input :category, collection: [ "Fruit", "Vegetable", "Carbohydrate", "Dairy", "Meat", "Drink"] %>
          <%= f.input :description %>
          <%= f.input :deadline, as: :date, html5: true %>
        </div>
        <div>
          <%= f.input :quantity %>
          <%= f.input :price %>
          <%= f.input :CO2e %>
          <%= f.input :photo, as: :file %>
          </div>
          </div>
          <div class="text-center">
            <%= f.submit "Add your product", class: "new-button" %>
          </div>
        <% end %>
      </div>
  </div>
</div>
