<div class="container contform img-back-product-new">
  <div class="row justify-content-center" >
    <div class="col-lg-3">
      <div class="form">
        <h1 class="transparent">Offer</h1>
        <%= simple_form_for [@product] do |f| %>
          <%= f.input :name %>
          <%= f.input :category, collection: [ "Fruits", "Vegetables", "Carbs", "Dairy", "Meat & Fish", "Drink"] %>
          <%= f.input :description %>
          <%= f.input :deadline, as: :date, html5: true %>
      </div>
    </div>
    <div class="col-lg-3">
      <div class="form">
        <h1 class="transparent">Product</h1>
          <%= f.input :quantity %>
          <%= f.input :price %>
          <%= f.input :CO2e %>
          <%= f.input :photo, as: :file %>
          <%= f.submit "Insert", class: "btn btn-gradient show-button" %>
        <% end %>
      </div>
  </div>
</div>
