<div class="show-container" data-controller="recipe" data-recipe-ingredient-value="<%= @product.name %>">

  <div class="row justify-content-center">
    <div class="col-12 col-lg-8">

      <div class="row product-description">
        <div class="col-12 col-lg-6">
          <%= link_to products_path(query: params[:query]), class:"previous" do %>
            <i class="fa-solid fa-arrow-left"></i>
          <% end %>
          <div>
              <h5><%= @product.name %></h5>
            <%= cl_image_tag @product.photo.key, crop: :fill, class: "product-image" %>
          </div>
        </div>

        <div class="col-12 col-lg-6">

          <div class="d-flex card-show">
            <i class="fa-regular fa-calendar-check" style="margin-right: 5px;"></i>
            <p><%= @product.deadline.strftime("%d/%m/%Y")  %></p>
          </div>
          <div class="d-flex">
            <i class="fa-solid fa-leaf" style="margin-right: 5px;"></i>
            <p style="margin-right: 5px;"><%= @product.CO2e %></p>
            <p> CO2e / kg </p>
          </div>
          <p><%= @product.description %></p>
          <div class="row">
            <div class="d-flex justify-content-between">
              <h5 class="price"><%= humanized_money_with_symbol(@product.price) %></h5>
            <%= button_to product_purchases_path(@product), method: :create, remote: true, id: "buy-button", class: "pay" do %>
              <i class="fa-solid fa-cart-shopping"></i>
            <% end %>
            </div>
          </div>
        </div>
      </div>

      <div class="">
        <div style="width: 750px; height: 200px;"
          data-controller="map"
          data-map-markers-value="<%= @markers.to_json %>"
          data-map-api-key-value="<%= ENV['MAPBOX_API_KEY'] %>">
        </div>
      </div>

    </div>

    <div class="col-12 col-lg-4">
      <div class="recipe">
        <h3 data-recipe-target="title" ></h3>
        <p data-recipe-target="description"></p>
          <a href="">
      </div>
    </div>

  </div>
</div>


<!--- <div class="product">
        <div class="product-description">
          <%= button_to "Add to cart", product_purchases_path(@product), id: "buy-button", class: "btn btn-gradient show-button" %>
          <%= @product.deadline %>
          <p></p>
          <%= @product.description %>
        </div>
        <div class="price">
            <%= @product.price.round %> €
        </div> --->

<!--- <div class="location">
      <div class="address">
        <i class="fa-solid fa-location-dot"></i><p>Distributed by:<%= @product.business.name %>/<%= @product.business.address %></p>
      </div>
      <div class="image-map">
      </div>
    </div> --->
