<div class="show-container" data-controller="recipe" data-recipe-ingredient-value="<%= @product.name %>">

  <div class="row justify-content-center">
    <div class="col-12 col-lg-6">

      <div class="row product-description">
        <div class="col-12 col-lg-6">
          <%= link_to "Back", products_path, class:"previous" %>
          <div data-action="click->recipe#addRecipe">
            <%= cl_image_tag @product.photo.key, crop: :fill, class: "product-image" %>
          </div>
        </div>

        <div class="col-12 col-lg-6">
          <div class="row justify-content-between">
            <div class="col-12 col-lg-6">
              <h5><%= @product.name %></h5>
            </div>

            <div class="col-12 col-lg-6">
              <h5 class=price><%= humanized_money_with_symbol(@product.price) %></h5>
            </div>
          </div>
          <%= button_to "Add to cart", {controller: "purchases", action: "create", product_id: params[:id]}, remote: true, id: "buy-button", class: "btn btn-gradient show-button" %>
          <div class="d-flex">
            <i class="fa-regular fa-calendar-check" style="margin-right: 5px;"></i>
            <p><%= @product.deadline.strftime("%d/%m/%Y")  %></p>
          </div>
          <div class="d-flex">
            <i class="fa-solid fa-leaf" style="margin-right: 5px;"></i>
            <p style="margin-right: 5px;"><%= @product.CO2e %></p>
            <p> CO2e / kg </p>
          </div>
          <p><%= @product.description %></p>
        </div>
      </div>

      <div class="row">
        <div style="width: 100%; height: 200px;"
          data-controller="map"
          data-map-markers-value="<%= @markers.to_json %>"
          data-map-api-key-value="<%= ENV['MAPBOX_API_KEY'] %>">
        </div>
      </div>

    </div>

    <div class="col-12 col-lg-4">
      <div class="recipe">
        <h3 data-recipe-target="title" ></h3>
        <p data-recipe-target="description"></p>
      </div>
    </div>

  </div>
</div>


<!--- <div class="product">
        <div class="product-description">
          <%= button_to "Add to cart", product_purchases_path(@product), id: "buy-button", class: "btn btn-gradient show-button" %>
          <%= @product.deadline %>
          <p></p>
          <%= @product.description %>
        </div>
        <div class="price">
            <%= @product.price.round %> €
        </div> --->

<!--- <div class="location">
      <div class="address">
        <i class="fa-solid fa-location-dot"></i><p>Distributed by:<%= @product.business.name %>/<%= @product.business.address %></p>
      </div>
      <div class="image-map">
      </div>
    </div> --->
