<div class="main-container">
  <div>
    <h2><%= @product.name %></h2>
    <a href="#" class="previous"><</a>
    <div class="left-container">
      <div class="image-product">
        <%= cl_image_tag @product.photo.key, height: 400, width: 500, crop: :fill, class: "product-image" %>
      </div>

      <div class="product-description">
        <div>
        <div class="">
        <div class="modal-button" data-bs-toggle="modal" data-bs-target="#exampleModal">
          <%# <%= button_to "Add to cart",  {controller: "purchases", action: "create", method: "post"}, product_purchases_path(@product), id: "buy-button", class: "btn btn-gradient show-button" %>
          <%= button_to "Add to cart", {controller: "purchases", action: "create", product_id: params[:id] }, remote: true, id: "buy-button", class: "btn btn-gradient show-button %>
        </div>
      </div>
          <%= @product.description %>
        </div>
        <p class="price">Amount: <%= humanized_money_with_symbol(@product.price) %></p>

      <!--- <div class="product">
        <div class="product-description">
          <%= button_to "Add to cart", product_purchases_path(@product), id: "buy-button", class: "btn btn-gradient show-button" %>
          <%= @product.deadline %>
          <p></p>
          <%= @product.description %>
        </div>
        <div class="price">
            <%= @product.price.round %> €
        </div> --->

      </div>
    </div>
    <div class="location">
      <div class="address">
        <i class="fa-solid fa-location-dot"></i><p>Distributed by:<%= @product.business.name %>/<%= @product.business.address %></p>
      </div>
      <div class="image-map">
      </div>
    </div>
  </div>
  <div class="right-container-basket">
    <div class="basket">
      <%= render 'purchases/show'%>
    </div>
  </div>
</div>
